<%= form_for Micropost.new do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
      <%= f.hidden_field :parent_id , :value => parent %>
      <%= f.text_area :content , :class => 'micropost_editor', :rows => '5', :height => '200px' %>
  </div>
  <div class="actions">
    <div id="enable_texteditor">
        <input type="button" value="Enable Editor" onClick="enable_texteditor(0);"/>
        <input type="button" style="display:none;" value="Disable Editor" onClick="disable_texteditor(0);"/>
     </div>
    <%= f.submit "Submit" %>
  </div>
<% end %>

